*{
    box-sizing: border-box;
}
html{

    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
body {
    font-family: "Proxima-Nova";
    font-weight: 400;
    padding: 0px;
    margin: 0px;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.content {
    margin: 0 auto;
    width: 100%;
    max-width: 1500px;
    padding-left: 10px;
    padding-right: 10px;
}


header {
    padding-top: 300px;
    height: 1068px;
    color: #fff;
    background-image: url("./../img/header-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    position: relative;

    .header__button {
        position: absolute;
        bottom: 60px;
        left: 50%;
        width: 32px;
        height: 16px;
        transform: translate(-50%,0);
        outline: none;
        border: none;
        background-color: transparent;
        cursor: pointer;


        &::before {
            content: "";
            width: 23px;
            height: 1px;
            background-color: rgb(255, 255, 255);
            position: absolute;
            bottom: 0px;
            left: 50%;
            transform: rotate(-45deg);
            transform-origin: bottom left;
        }

        &::after {
            content: "";
            width: 23px;
            height: 1px;
            background-color: rgb(255, 255, 255);
            position: absolute;
            bottom: 0px;
            right: 50%;
            transform: rotate(45deg);
            transform-origin: bottom right;
        }
    }
}


.navigation__logo-mobile {
    display: none;
    width: 110px;
    height: 28px;
}

.navigation {
    width: 100%;
    height: 139px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%);
 

    .navigation__logo {
        width: 110px;
        height: 28px;
    }

    .navigation__menu {
        display: flex;
        padding: 0px;
        margin: 0px;

        .navigation__item {
            list-style-type: none;
            margin-right: 32px;
            margin-left: 32px;

            a {
                text-decoration: none;
                color: #fff;
                font-family: "Raleway";
                font-weight: 700;
                font-size: 14px;
                text-transform: uppercase;
            }
        }
    }
}

.navigation__toggle {
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 5;
    position: absolute;
    padding: 0px;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
    background-color: transparent;

    
    &::before{
        content: "";
        display: block;
        position: absolute;
        top: 0px;
        width: 40px;
        height: 2px;
        background-color: rgb(255, 255, 255);
        transition-duration: 300ms;
        border: 1px solid black;
    }

    &::after{
        content: "";
        display: block;
        position: absolute;
        bottom: 0px;
        width: 40px;
        height: 2px;
        background-color: rgb(255, 255, 255);
        transition-duration: 300ms;
        border: 1px solid black;
    }
    
    span {
        display: inline-block;
        width: 40px;
        height: 4px;
        background-color: rgb(255, 255, 255);
        border: 1px solid black;
    }
}

.header__slider {
    max-width: 1380px;
    margin: 0 auto;
    position: relative;

    &.slick-slider {
        height: 400px;
    }
    
    .slick-prev {
        font-size: 0px;
        position: absolute;
        top: 50%;
        left: 0px;
        margin: 0px;
        padding: 0px;
        width: 30px;
        height: 55px;
        transform: translate(0, -50%);
        z-index: 1;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;

        

        &::before {
            content: "";
            display: block;
            width: 40px;
            height: 2px;
            background-color: #fff;
            top: 50%;
            transform: translate(0, -50%) rotate(-45deg);
            transform-origin: bottom left;
            position: absolute;
           
        }

        &::after {
            content: "";
            display: block;
            width: 40px;
            height: 2px;
            background-color: #fff;
            top: 50%;
            transform: translate(0, -50%) rotate(45deg);
            transform-origin: bottom left;
            position: absolute;
        }
    }

    .slick-list{
        overflow: hidden;
    
        .slick-track {
            display: flex;
            overflow: hidden;
        }
    }

    .slick-next {
        font-size: 0px;
        position: absolute;
        top: 50%;
        right: 0px;
        margin: 0px;
        padding: 0px;
        width: 30px;
        height: 55px;
        transform: translate(0, -50%);
        z-index: 1;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;

        &::before {
            content: "";
            display: block;
            width: 40px;
            height: 2px;
            background-color: #fff;
            transform: translate(0, -50%) rotate(-45deg);
            transform-origin: bottom right;
            position: absolute;
            top: 50%;
            right: 0px;
           
        }

        &::after {
            content: "";
            display: block;
            width: 40px;
            height: 2px;
            background-color: #fff;
            transform: translate(0, -50%) rotate(45deg);
            transform-origin: bottom right;
            position: absolute;
            top: 50%;
            right: 0px;
        }
    }

    .slick-arrow{
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    .slick-dots{
        display: flex;
        justify-content: center;
        margin: 0px;
        padding: 0px;
        

        li {
            list-style: none;
            margin-right: 6px;
            margin-left: 6px;
            
            button {
                font-size: 0px;
                display: block;
                width: 10px;
                height: 10px;
                padding: 0px;
                border-radius: 50%;
                border: 2px solid #fff;
                outline: none;
                background-color: transparent;
            }
        }

        .slick-active {
            button {
                background-color: #fff;
            }
        }
    }

    
    
    

    .header__slider-section {
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        outline: none;
    
        h2,h1{
            font-family: "Raleway";
            font-weight: 100;
            font-size: 60px;
            margin: 0px;
        }

        span {
            font-family: "Proxima-Nova";
            font-weight: 300;
            font-size: 24px;
            margin-top: 30px;
            margin-bottom: 60px;
        }

        a {
            font-family: "Raleway";
            font-weight: 700;
            font-size: 14px;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 180px;
            height: 50px;
            border: 2px solid #fff;
            border-radius: 50px;
            outline: none;
            color: #fff;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }
    }
}

.about {
    padding-top: 110px;
    padding-bottom: 110px;
    display: flex;
    align-items: center;
    flex-direction: column;

    .about__title {
        font-family: "Raleway";
        font-weight: 200;
        font-size: 60px;
        color: #576671;
        margin: 0px;
        padding-bottom: 37px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 30px;
            height: 1px;
            background-color: #17daa3;
            bottom: 0px;
            left: 50%;
            transform: translate(-50%, 0);
        } 
    }

    .about__subtitle {
        font-family: "Proxima-Nova";
        font-weight: 400;
        font-size: 18px;
        color: #87949e;
        margin: 0px;
        margin-top: 37px;
    }

    .about__more {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 185px;
        height: 50px;
        background-color: #17daa3;
        border-radius: 25px;
        font-family: "Raleway";
        font-weight: 700;
        font-size: 14px;
        color: #fff;
        text-decoration: none;

    }
}

.about__holder {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    margin-bottom: 100px;

    .about__section {
        display: flex;
        flex-direction: column;
        align-items: center;

        .about__inner {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 180px;
            height: 180px;
            border-radius: 50%;
            background-color: #edeff1;
            transition: 500ms;

            &:hover {
                background-color: #17daa3;

                svg {
                    fill: #fff;
                }
            }

            svg {
                fill: #87949e;
                transition: 500ms;
            }
        }

        h3 {
            margin-top: 80px;
            margin-bottom: 45px;
            font-family: "Raleway";
            font-weight: 400;
            font-size: 30px;
        }

        p {
            margin: 0px;
            padding-left: 10px;
            padding-right: 10px;
            max-width: 300px;
            text-align: center;
            color: #87949e;
        }
    }
}

.camera {
    background-color: #f9f9fa;
    display: flex;
    justify-content: center;
    padding-top: 160px;
    padding-bottom: 160px;

    .camera__img {
        width: 50%;
        max-width: 740px;
        
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    

    .camera__content {
        width: 50%;
        max-width: 740px;

        h2 {
            font-family: "Raleway";
            font-weight: 200;
            font-size: 60px;
            color: #576671;
            margin: 0px;
            margin-bottom: 60px;
        }

        p {
            font-family: "Proxima-Nova";
            font-weight: 400;
            font-size: 18px;
            line-height: 36px;
            color: #87949e;
            padding-right: 10px;
            margin: 0px;
            max-width: 720px;
        }

        .camera__more {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 70px;
            width: 185px;
            height: 50px;
            background-color: #17daa3;
            border-radius: 25px;
            font-family: "Raleway";
            font-weight: 700;
            font-size: 14px;
            color: #fff;
            text-decoration: none;

        }
    }
}

.laptop {
    display: flex;
    justify-content: center;
    padding-top: 160px;
    padding-bottom: 160px;

    .laptop__content {
        padding-left: 10px;
        width: 50%;
        max-width: 740px;

        h2 {
            font-family: "Raleway";
            font-weight: 200;
            font-size: 60px;
            color: #576671;
            margin: 0px;
            margin-bottom: 60px;
        }

        p {
            font-family: "Proxima-Nova";
            font-weight: 400;
            font-size: 18px;
            line-height: 36px;
            color: #87949e;
            padding-right: 10px;
            margin: 0px;
            max-width: 720px;
        }

        .laptop__more {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 70px;
            width: 185px;
            height: 50px;
            background-color: #17daa3;
            border-radius: 25px;
            font-family: "Raleway";
            font-weight: 700;
            font-size: 14px;
            color: #fff;
            text-decoration: none;

        }
    }

    .laptop__img {
        width: 50%;
        max-width: 740px;
        display: flex;
        justify-content: center;
        
        
        img {
            height: auto;
        }
    }
}

.worker {
    padding-top: 190px;
    padding-bottom: 280px;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    background-image: url(../img/poaple-backgraund.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    

    .worker__slider {
        position: relative;

        .slick-prev {
            font-size: 0px;
            position: absolute;
            top: 50%;
            left: 20px;
            margin: 0px;
            padding: 0px;
            width: 30px;
            height: 55px;
            transform: translate(0, -50%);
            z-index: 1;
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
    
            
    
            &::before {
                content: "";
                display: block;
                width: 40px;
                height: 2px;
                background-color: #fff;
                top: 50%;
                transform: translate(0, -50%) rotate(-45deg);
                transform-origin: bottom left;
                position: absolute;
               
            }
    
            &::after {
                content: "";
                display: block;
                width: 40px;
                height: 2px;
                background-color: #fff;
                top: 50%;
                transform: translate(0, -50%) rotate(45deg);
                transform-origin: bottom left;
                position: absolute;
            }
        }
    
        .slick-list {
            overflow: hidden;
    
            .slick-track{
                display: flex;
    
                .worker__section{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    outline: none;
    
                    img {
                        width: 104px;
                        height: 104px;
                    }
                    
    
                    h2 {
                        font-family: "Raleway";
                        font-weight: 300;
                        font-size: 30px;
                        color: #fff;
                        margin-top: 40px;
                        margin-bottom: 30px;
    
                        span {
                            font-family: "Raleway";
                            font-weight: 300;
                            color: #17daa3; 
                        }
                    }
    
                    p {
                        font-family: "Raleway";
                        font-weight: 500;
                        font-size: 18px;
                        color: #fff;
                        opacity: 0.5;
                    }
    
                    
                }
            }
        }

        .slick-next {
            font-size: 0px;
            position: absolute;
            top: 50%;
            right: 20px;
            margin: 0px;
            padding: 0px;
            width: 30px;
            height: 55px;
            transform: translate(0, -50%);
            z-index: 1;
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
    
            &::before {
                content: "";
                display: block;
                width: 40px;
                height: 2px;
                background-color: #fff;
                transform: translate(0, -50%) rotate(-45deg);
                transform-origin: bottom right;
                position: absolute;
                top: 50%;
                right: 0px;
               
            }
    
            &::after {
                content: "";
                display: block;
                width: 40px;
                height: 2px;
                background-color: #fff;
                transform: translate(0, -50%) rotate(45deg);
                transform-origin: bottom right;
                position: absolute;
                top: 50%;
                right: 0px;
            }
        }
    
        .slick-arrow{
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }

        .slick-dots{
            display: flex;
            justify-content: center;
            margin: 0px;
            padding: 0px;
            position: absolute;
            bottom: -120px;
            left: 50%;
            transform: translate(-50%, 0);
            
    
            li {
                list-style: none;
                margin-right: 6px;
                margin-left: 6px;
                
                button {
                    font-size: 0px;
                    display: block;
                    width: 10px;
                    height: 10px;
                    padding: 0px;
                    border-radius: 50%;
                    border: 2px solid #fff;
                    outline: none;
                    background-color: transparent;
                }
            }
    
            .slick-active {
                button {
                    background-color: #fff;
                }
            }
        }
    }
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9fa;
    padding-top: 100px;
    padding-bottom: 150px;


    h2 {
        font-family: "Raleway";
        font-weight: 200;
        font-size: 60px;
        color: #576671;
        padding-bottom: 37px;
        margin-bottom: 37px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 30px;
            height: 1px;
            background-color: #17daa3;
            bottom: 0px;
            left: 50%;
            transform: translate(-50%, 0);
        }
    }

    p {
        font-family: "Proxima-Nova";
        font-weight: 400;
        font-size: 18px;
        color: #87949e;
        margin: 0px;
        
    }

    .section__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 130px;

        .section__content{
            max-width: 700px;
            width: 50%;
            min-width: 500px;
            padding-left: 150px;
            margin-top: 40px;
            margin-bottom: 40px;
            position: relative;

            svg {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 94px;
                height: 94px;

                .cls-1{
                    fill: #fff;
                }

                .cls-2{
                    fill: #17daa3;
                }
            }

            h3 {
                font-family: "Raleway";
                font-weight: 200;
                font-size: 60px;
                margin-top: 10px;
                margin-bottom: 43px;
                color: #576671;
            }

            p {
                font-family: "Proxima-Nova";
                font-weight: 400;
                font-size: 18px;
                line-height: 48px;
                color: #87949e;
                padding-left: 10px;
            }
        }
    }
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;

    .team__title {
        font-family: "Raleway";
        font-weight: 200;
        font-size: 60px;
        color: #576671;
        margin: 0px;
        padding-bottom: 37px;
        margin-bottom: 37px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 30px;
            height: 1px;
            background-color: #17daa3;
            bottom: 0px;
            left: 50%;
            transform: translate(-50%, 0);
        }
    }

    .team__subtitle {
        font-family: "Proxima-Nova";
        font-weight: 400;
        font-size: 18px;
        color: #87949e;
        margin: 0px;
    }

    .team__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 110px;

        .team__section{
            max-width: 400px;
            width: 20%;
            max-height: 400px;
            overflow: hidden;
            
            

            img {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
    }
}

.prising {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 110px;
    background-color: #f9f9fa;

    .prising__title {
        font-family: "Raleway";
        font-weight: 200;
        font-size: 60px;
        color: #576671;
        padding-bottom: 37px;
        margin-top: 0px;
        margin-bottom: 37px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 30px;
            height: 1px;
            background-color: #17daa3;
            bottom: 0px;
            left: 50%;
            transform: translate(-50%, 0);
        }
    }

    .prising__subtitle {
        font-family: "Proxima-Nova";
        font-weight: 400;
        font-size: 18px;
        color: #87949e;
        margin: 0px;
    }

    .prising__inner {
        display: flex;
        justify-content: center;
        margin-top: 105px;

        .prising__section {
            max-width: 345px;
            margin-left: 15px;
            margin-right: 15px;
            padding-top: 40px;
            min-height: 585px;
            background-color: #fff;
            position: relative;

            h3 {
                font-family: "Raleway";
                font-weight: 200;
                color: #17daa3;
                font-size: 60px;
                padding-left: 37px;
                margin: 0px;
            }

            span {
                display: inline-block;
                font-family: "Proxima-Nova";
                font-weight: 400;
                font-size: 18px;
                color: #87949e;
                margin-top: 25px;
                padding-left: 37px;
            }

            p {
                font-family: "Proxima-Nova";
                font-weight: 400;
                font-size: 18px;
                line-height: 48px;
                color: #87949e;
                margin-top: 60px;
                margin-bottom: 0px;
                padding-top: 60px;
                padding-left: 37px;
                padding-right: 37px;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    top:0px;
                    left: 0px;
                    width: 100%;
                    height: 2px;
                    background-color: #f9f9fa;
                }
            }

            button {
                position: absolute;
                bottom: 0px;
                margin-top: 30px;
                padding-left: 37px;
                width: 100%;
                height: 75px;
                border: none;
                background-color: #18daa3;
                color: #fff;
                font-family: "Proxima-Nova";
                font-weight: 700;
                text-transform: uppercase;
                font-size: 18px;
                letter-spacing: 7px;
                display: flex;
                align-items: center;
            }
        }
    }
}

.agents {
    box-sizing: content-box;
    position: relative;
    padding-top: 180px;
    padding-bottom: 195px;
    background-image: url("../img/map.png");
    background-position: 100% center;
    background-size: 50% ;
    background-repeat: no-repeat;

    .agents__info {
        z-index: 1;
        width: 47%;

        h2 {
            font-family: "Raleway";
            font-weight: 200;
            font-size: 60px;
            color: #576671;
            margin-top: 0px;
            margin-bottom: 70px;
        }
        
        p {
            font-family: "Proxima-Nova";
            font-weight: 400;
            font-size: 18px;
            color: #87949e;
            line-height: 36px;
            margin: 0px;
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 70px;
            width: 185px;
            height: 50px;
            background-color: #17daa3;
            border-radius: 25px;
            font-family: "Raleway";
            font-weight: 700;
            font-size: 14px;
            color: #fff;
            text-decoration: none;
            outline: none;
            border: none;
        }
    } 
}

.master {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 270px;
    padding-bottom: 270px;
    background-image: url("../img/agents-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    color: #fff;

    h2 {
        font-family: "Raleway";
        font-weight: 200;
        font-size: 60px;
        margin: 0px;

        strong {
            font-weight: 700;
        }
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 90px;
        width: 185px;
        height: 50px;
        background-color: #17daa3;
        border-radius: 25px;
        font-family: "Raleway";
        font-weight: 700;
        font-size: 14px;
        color: #fff;
        text-decoration: none;
        outline: none;
        border: none;
    }
}

footer {
    height: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h4 {
        font-family: "Proxima-Nova";
        font-weight: 400;
        font-size: 18px;
        color: #87949e;
        margin: 0px;
        margin-left: 25px;
        padding-left: 25px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 26px;
            height: 26px;
            background-image: url("../img/footer-icon.png");
            background-position: center;
            background-repeat: no-repeat;
            left: 0px;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .footer__menu {
        display: flex;
        margin: 0px;
        padding: 0px;

        li {
            font-family: "Proxima-Nova";
            font-weight: 400;
            font-size: 18px;
            color: #87949e;
            list-style: none;
            padding-left: 60px;
            opacity: 0.5;
        }

        .footer__menu-active {
            opacity: 1;
        }
    }
}