@media (max-width: 1500px) {
  .header__slider .slick-prev {
    left: 50px; }
  .header__slider .slick-next {
    right: 50px; }
  .worker .worker__slider .slick-prev {
    left: 50px; }
  .worker .worker__slider .slick-next {
    right: 50px; }
  .section .section__inner {
    padding-right: 20px; }
  footer .footer__menu {
    padding-right: 20px; } }

@media (max-width: 1199px) {
  .header__slider .slick-prev {
    left: 25px; }
  .header__slider .slick-next {
    right: 25px; }
  .worker .worker__slider .slick-prev {
    left: 25px; }
  .worker .worker__slider .slick-next {
    right: 25px; }
  .prising .prising__inner {
    flex-wrap: wrap; }
    .prising .prising__inner .prising__section {
      max-width: 40%;
      margin-top: 10px;
      margin-bottom: 10px; }
  .laptop .laptop__img img {
    object-fit: contain; } }

@media (max-width: 997px) {
  .about {
    padding-bottom: 70px; }
    .about .about__holder {
      flex-wrap: wrap;
      justify-content: space-around;
      margin-top: 50px;
      margin-bottom: 50px; }
      .about .about__holder .about__section {
        width: 40%;
        margin-top: 20px;
        margin-bottom: 20px; }
  .camera .camera__img {
    display: none; }
  .laptop .laptop__img {
    display: none; } }

@media (max-width: 768px) {
  .navigation {
    margin: 0px;
    width: 200px;
    height: 300px;
    justify-content: center;
    align-items: flex-end;
    background-color: #3c6354;
    position: fixed;
    left: auto;
    right: -200px;
    transform: translate(0, 0);
    z-index: 4;
    transition-duration: 400ms;
    font-size: 25px; }
    .navigation .navigation__logo {
      display: none; }
    .navigation .navigation__menu {
      flex-direction: column;
      align-items: center; }
      .navigation .navigation__menu .navigation__item {
        margin: 0px;
        margin-top: 10px;
        margin-bottom: 10px; }
  .navigation-active {
    right: 0px; }
  .navigation__toggle {
    display: flex;
    position: fixed; }
  .toggle-active::before {
    transition-duration: 300ms;
    transform: rotate(45deg);
    transform-origin: bottom left;
    left: 0px;
    top: 5px;
    border: none; }
  .toggle-active::after {
    transition-duration: 300ms;
    transform-origin: bottom left;
    transform: rotate(-45deg);
    left: 0px;
    bottom: 5px;
    border: none; }
  .toggle-active span {
    display: none; }
  header .navigation__logo-mobile {
    display: block;
    position: absolute;
    top: 15px;
    left: 10px; }
  header .header__slider .slick-list .slick-track .header__slider-section h1, header .header__slider .slick-list .slick-track .header__slider-section h2 {
    font-size: 50px; }
  .about .about__title {
    font-size: 50px; }
  .about .about__subtitle {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center; }
  .about .about__holder .about__section {
    margin-top: 75px;
    width: 100%; }
    .about .about__holder .about__section h3 {
      margin-top: 37px;
      margin-bottom: 15px; }
  .camera {
    padding-top: 80px;
    padding-bottom: 80px; }
  .laptop {
    padding-top: 80px;
    padding-bottom: 80px; }
    .laptop h2 {
      font-size: 50px;
      text-align: center; }
  .section {
    padding-top: 80px;
    padding-bottom: 80px; }
    .section h2 {
      font-size: 50px; }
    .section .section__subtitle {
      padding-left: 20px;
      padding-right: 20px;
      text-align: center; }
    .section .section__inner .section__content h3 {
      font-size: 50px; }
  .worker__section {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px; }
  .team__subtitle {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center; }
  .prising .prising__subtitle {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center; }
  .prising .prising__inner .prising__section {
    max-width: 80%; }
  .agents {
    background-image: none; }
    .agents .agents__inner {
      width: 80%;
      display: flex;
      justify-content: center; }
      .agents .agents__inner .agents__info {
        width: 100%; }
        .agents .agents__inner .agents__info p {
          width: 100%;
          padding-left: 10px;
          padding-right: 10px; }
  .master {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px; }
    .master h2 {
      font-size: 50px; }
  footer h4 {
    text-align: center; }
  footer .footer__menu li {
    padding-left: 10px; } }
