@media (max-width: 768px) {
  .navigation {
    margin: 0px;
    width: 200px;
    height: 300px;
    justify-content: center;
    align-items: flex-end;
    background-color: #3c6354;
    position: fixed;
    left: auto;
    right: -200px;
    transform: translate(0, 0);
    z-index: 4;
    transition-duration: 400ms;
    font-size: 25px; }
    .navigation .navigation__logo {
      display: none; }
    .navigation .navigation__menu {
      flex-direction: column;
      align-items: center; }
      .navigation .navigation__menu .navigation__item {
        margin: 0px;
        margin-top: 10px;
        margin-bottom: 10px; }
  .navigation-active {
    right: 0px; }
  .navigation__toggle {
    display: flex;
    position: fixed; }
  .toggle-active::before {
    transition-duration: 300ms;
    transform: rotate(45deg);
    top: 50%; }
  .toggle-active::after {
    transition-duration: 300ms;
    top: 50%;
    transform: rotate(-45deg); }
  .toggle-active span {
    display: none; }
  .test__content {
    padding-top: 60px; } }
