* {
  box-sizing: border-box; }

body {
  font-family: "Proxima-Nova";
  font-weight: 400;
  padding: 0px;
  margin: 0px; }

.content {
  margin: 0 auto;
  max-width: 1500px;
  padding-left: 10px;
  padding-right: 10px; }

header {
  height: 1068px;
  color: #fff;
  background-image: url("./../img/header-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  position: relative; }

.navigation {
  width: 100%;
  height: 139px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%); }
  .navigation .navigation__logo {
    width: 110px;
    height: 28px; }
  .navigation .navigation__menu {
    display: flex;
    padding: 0px;
    margin: 0px; }
    .navigation .navigation__menu .navigation__item {
      list-style-type: none;
      margin-right: 32px;
      margin-left: 32px; }
      .navigation .navigation__menu .navigation__item a {
        text-decoration: none;
        color: #fff;
        font-family: "Raleway";
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase; }

.navigation__toggle {
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 5;
  position: absolute;
  padding: 0px;
  top: 10px;
  right: 5px;
  width: 40px;
  height: 40px;
  outline: none;
  border: none;
  background-color: transparent; }
  .navigation__toggle::before {
    content: "";
    display: block;
    position: absolute;
    top: 6px;
    width: 34px;
    height: 2px;
    background-color: white;
    transition-duration: 300ms; }
  .navigation__toggle::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 6px;
    width: 34px;
    height: 2px;
    background-color: white;
    transition-duration: 300ms; }
  .navigation__toggle span {
    display: block;
    width: 34px;
    height: 2px;
    background-color: white; }

.test__content {
  padding-top: 150px; }
