@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: url("./../fonts/montserrat/Montserrat-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Montserrat";
  font-weight: normal;
  src: url("./../fonts/montserrat/Montserrat-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: url("./../fonts/montserrat/Montserrat-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "Montserrat";
  font-weight: bold;
  src: url("./../fonts/montserrat/Montserrat-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "Raleway";
  font-weight: 100;
  src: url("./../fonts/raleway/Raleway-Thin.ttf") format("truetype"); }

@font-face {
  font-family: "Raleway";
  font-weight: 200;
  src: url("./../fonts/raleway/Raleway-ExtraLight.ttf") format("truetype"); }

@font-face {
  font-family: "Raleway";
  font-weight: 300;
  src: url("./../fonts/raleway/Raleway-Light.ttf") format("truetype"); }

@font-face {
  font-family: "Raleway";
  font-weight: 400;
  src: url("./../fonts/raleway/Raleway-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Raleway";
  font-weight: normal;
  src: url("./../fonts/raleway/Raleway-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Raleway";
  font-weight: 500;
  src: url("./../fonts/raleway/Raleway-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "Raleway";
  font-weight: 700;
  src: url("./../fonts/raleway/Raleway-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "Raleway";
  font-weight: bold;
  src: url("./../fonts/raleway/Raleway-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "Proxima-Nova";
  font-weight: 100;
  src: url("./../fonts/proxima/Proxima Nova Thin.otf") format("opentype"); }

@font-face {
  font-family: "Proxima-Nova";
  font-weight: 200;
  src: url("./../fonts/proxima/Proxima Nova Alt Thin.otf") format("opentype"); }

@font-face {
  font-family: "Proxima-Nova";
  font-weight: 300;
  src: url("./../fonts/proxima/Proxima Nova Light.otf") format("opentype"); }

@font-face {
  font-family: "Proxima-Nova";
  font-weight: 400;
  src: url("./../fonts/proxima/ProximaNova-Regular.otf") format("opentype"); }

@font-face {
  font-family: "Proxima-Nova";
  font-weight: normal;
  src: url("./../fonts/proxima/ProximaNova-Regular.otf") format("opentype"); }

@font-face {
  font-family: "Proxima-Nova";
  font-weight: 600;
  src: url("./../fonts/proxima/Proxima Nova Alt Bold.otf") format("opentype"); }

@font-face {
  font-family: "Proxima-Nova";
  font-weight: 700;
  src: url("./../fonts/proxima/Proxima Nova Bold.otf") format("opentype"); }

@font-face {
  font-family: "Proxima-Nova";
  font-weight: bold;
  src: url("./../fonts/proxima/Proxima Nova Bold.otf") format("opentype"); }

@font-face {
  font-family: "Proxima-Nova";
  font-weight: 800;
  src: url("./../fonts/proxima/Proxima Nova Extrabold.otf") format("opentype"); }

@font-face {
  font-family: "Proxima-Nova";
  font-weight: 900;
  src: url("./../fonts/proxima/Proxima Nova Black.otf") format("opentype"); }
